.feed-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
}

.empty-feed {
  position: absolute;
  text-align: center;
  top: 100px;
  width: 100%;
  font-size: 30px;
}

.photo-container {
  max-width: 60%;
  margin-bottom: 20px;
  border: 1px solid #eee;
  background-color: #fff;
  margin-bottom: 20px;
}

.feed-photo {
  margin-bottom: 5px;
}

.feed-photo:hover {
  cursor: pointer;
  opacity: .8;
}

.feed-user-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin: 0 18px 5px 15px;
  border: .01em solid rgba(0,0,0,0.18);
}

.feed-user-icon:hover {
  cursor: pointer;
  opacity: .7;
}

.feed-container div {
  display: flex;
  align-items: center;
}

.photo-info {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.photo-info:hover {
  cursor: pointer;
  opacity: .7;
}
.feed-container h4 {
  // float: left;
  // padding-top: 20px;
  font-weight: bold;
  margin-right: 8px;
  font-size: 18px;
  margin-bottom: 3px;
}

.uploaded-time {
  // float: left;
  color: #888;
  font-size: 14px;
}

.feed-container p {
  font-size: 13px;
}
