.user-show-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 350px;
}

.user-photos-container {
  min-width: 800px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.user-photo-container {
  width: 20%;
  margin-bottom: 15px;
  transition: all .2s ease-in-out;
  display: inline-table;

}

.user-photo {

}

.img-hover {
  transform: scale(1.6);
  cursor: pointer;
}
