.user-show-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 350px;
}

.user-photos-container {
  min-width: 800px;
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.user-photo-container {
  width: 20%;
  margin-bottom: 15px;
  transition: all .2s ease-in-out;
  display: inline-table;

}

.user-photo {

}

.img-hover {
  transform: scale(1.6);
  cursor: pointer;
}

.upload-photo-div {
  position: absolute;
  top: 380px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  text-align: left;
  overflow: hidden;
  opacity: .25;
  background-image: image-url("camera-roll.jpeg");
  color: white;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-photo-text {
  position: absolute;
  z-index: 1;
  min-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

.upload-photo-text h3 {
  font-size: 24px;
  width: 100%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 25px;
  text-shadow: 0.01em 0.01em 0.01em black;
}

.upload-photo-text label {
  color: white;
  padding: 15px 20px;
}

.upload-photo-text label:hover {
  cursor: pointer;
}
