.view-photo-container {
  position: absolute;
  top: 50px;
  background-color: rgba(33,33,33,1);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.view-photo-user {
  position: absolute;
  left: 25px;
  color: #fff;
  font-size: 25px;
  top: 25px;
  display: none;
  align-items: center;
}

.view-photo-user:hover {
  cursor: pointer;
  color: #ccc;
  opacity: .7;
}
.view-photo-user img {
  margin-right: 25px;
  border: 0;
  background-color: transparent;

}

.view-photo-div {
  // width: 70%;
  min-width: 300px;
  max-width: 850px;
  display: flex;
  align-self: center;
}
.photo {
  max-height: 800px;
  // width: 80%;
  display: flex;
  position: relative;
  margin: auto;
  -webkit-box-align: center;
}

.arrow {
  color: #fff;
  font-size: 60px !important;
  // display: flex;
  display: none !important;
  align-self: center;
  position: absolute;
}

.delete {
  color: #fff;
  font-size: 40px !important;
  // display: flex;
  display: none !important;
  align-self: center;
  position: absolute;
  bottom: 75px;
  right: 100px;
}

.toggle-zoom {
  color: #fff;
  font-size: 40px !important;
  display: none !important;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.toggle-zoom:hover {
  cursor: pointer;
  opacity: .7;
}

.delete:hover {
  cursor: pointer;
  opacity: .7;
}

.right-arrow {
  right: 0;
}

.left-arrow {
  left: 0;
}

.arrow:hover{
  cursor: pointer;
  opacity: .7;
}

.on-move {
  display: flex !important;
}

.on-move-user-info {
  display: flex !important;
  flex-wrap: wrap;
  width: 40vw;
  max-width: 400px;
}

.on-move-user-info h5 {
  margin-left: 85px;
  max-width: 30vh;
  margin-top: -10px;
  font-weight: bold;
}

.zoomed-out-container {
  height: 80vh !important;
}

.zoomed-out-photo-div {
  max-width: 70vh !important;
}

.zoomed-out-photo {
  max-height: 70vh !important;
}

.zoomed-out-user-info {
  left: 12vw !important;
  color: #000 !important;
  top: 83vh !important;
}

.zoomed-out-delete {
  bottom: 25px;
}

.photo-title {
  font-size: 14px;
}

.uploaded-on {
  right: 12vw !important;
  color: #000 !important;
  top: 85vh !important;
  position: absolute;
  font-size: 16px;
  align-items: center;
}

.link-to-photos-text {
  color: #fff;
  top: 2vh;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  margin-left: 2px;
  left: 5vw;
}

.link-to-photos-arrow {
  // top: 1vh;
  // left: 3vw !important;
  position: static;
  font-size: 35px !important;
}
.link-to-photos {
  padding: 5px;
}
.link-to-photos-text:hover {
  cursor: pointer;
  opacity: .7;
}

.tags-container {
  color: #000 !important;
  top: 83vh !important;
  position: absolute;
  font-weight: 400;
  font-size: 28px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
}

.tags {
  overflow: hidden;
}

.tag {
  background: #ccc;
  border-radius: 3px 0 0 3px;
  color: #000;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 14px;
}

.tag:hover {
  background-color: crimson;
  color: white;
  cursor: pointer;
}

.add-tag-input {
  font-size: 24px;
  background-color: rgba(33,33,33,1);
  border: inherit;
  text-align: center;
  width: 40%;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  padding-bottom: 5px;
  margin: 0 auto;
}

.add-tag-input::-webkit-input-placeholder {
  color: #fff;
}
