.view-photo-container {
  position: absolute;
  top: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.view-photo-user {
  position: absolute;
  left: 25px;
  color: #fff;
  font-size: 25px;
  top: 25px;
}

.view-photo-user:hover {
  cursor: pointer;
  color: #ccc;
  opacity: .7;
}
.view-photo-user img {
  margin-right: 25px;
  border: 0;
  background-color: transparent;

}

.view-photo-div {
  // width: 70%;
  min-width: 300px;
  max-width: 850px;
  display: flex;
  align-self: center;
}
.photo {
  max-height: 800px;
  // width: 80%;
  display: flex;
  position: relative;
  margin: auto;
  -webkit-box-align: center;
}

.arrow {
  color: #fff;
  font-size: 60px !important;
  display: flex;
  align-self: center;
  position: absolute;
}

.delete {
  color: #fff;
  font-size: 40px !important;
  display: flex;
  align-self: center;
  position: absolute;
  bottom: 75px;
  right: 100px;
}

.delete:hover {
  cursor: pointer;
  opacity: .7;
}

.right-arrow {
  right: 0;
}

.left-arrow {
  left: 0;
}
.arrow:hover{
  cursor: pointer;
  opacity: .7;
}
